html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1d20;  
  background: linear-gradient(1deg,rgb(0 0 0 / 35%),rgb(0 0 0 / 50%)),url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;  
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 22px;
}

canvas {
  background-color: inherit;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

a {
  color: #dddddd !important;
  transition: color .4s;
}

a:hover {
  color: #ffffff !important;
}